@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>We are glad to show you the best site EVER!</p>
<p>
    "I can't start my day without to know what I will eat today.
    Thanks God, that I have RestIT!!!11!#!    ~ Karin Goren"
</p>
<p>"If this site did not exist, it should have been produced!   ~ Shay Horovitz"</p>

<p>"Rest it! and Let's Eat!   ~ Avi Bitter"</p>
