@{
    ViewData["Title"] = "Facebook";
}
<html>
<body>
    <section>
        <header>
            <h3>Join us on Facebook</h3>
        </header>
        <div>
            <div class="custom">
                <p><a target="_blank" href="https://www.facebook.com/RestIt-2477297058954584/"><img src="~/images/facebook_512x512.png" alt="Join us on Facebook" /></a>
            </div>
            <br />
        </div>
    </section>

    <div></div>
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="~/images/facebook_512x512.png" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><hr />
    <br>
    <br>
</body>
</html>