@model RestIT.Controllers.HomeController.GroupByRestaurant
@{
    ViewData["Title"] = "GroupBy Query";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestName)
        </th>
        <th></th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.RestCity)
            </td>
            <td>
                @Html.DisplayFor(model => model.RestName)
            </td>
        </tr>
</table>
