@model IEnumerable<RestIT.Controllers.HomeController.GroupByRestaurant>
@{
    ViewData["Title"] = "GroupBy RestaurantTypes";
}

<h2> GroupBy Restaurant Types</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestCount)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestCount)
            </td>
        </tr>
    }
</table>

