@model RestIT.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="custName" class="control-label"></label>
                <input asp-for="custName" class="form-control" />
                <span asp-validation-for="custName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custPhone" class="control-label"></label>
                <input asp-for="custPhone" class="form-control" />
                <span asp-validation-for="custPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custMail" class="control-label"></label>
                <input asp-for="custMail" class="form-control" />
                <span asp-validation-for="custMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custAge" class="control-label"></label>
                <input asp-for="custAge" class="form-control" />
                <span asp-validation-for="custAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
