@model RestIT.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="restName" class="control-label"></label>
                <input asp-for="restName" class="form-control" />
                <span asp-validation-for="restName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="restChef" class="control-label"></label>
                @{
                    List<RestIT.Models.Chef> chefs = ViewBag.restChef;
                    List<int> SelectedChef = new List<int>();

                    foreach (Chef chef in chefs)
                    {
                        int cid = chef.ID;
                        SelectedChef.Add(cid);
                    }
                    Html.DropDownListFor(r => r.restChef, new SelectList(chefs, "ID", "chefName"), "Select Chef");
                }
            </div>
            <div class="form-group">
                <label asp-for="restAddress" class="control-label"></label>
                <input asp-for="restAddress" class="form-control" />
                <span asp-validation-for="restAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="restCity" class="control-label"></label>
                <input asp-for="restCity" class="form-control" />
                <span asp-validation-for="restCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="restRating" class="control-label"></label>
                <input asp-for="restRating" class="form-control" />
                <span asp-validation-for="restRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="restType" class="control-label"></label>
                <input asp-for="restType" class="form-control" />
                <span asp-validation-for="restType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="restKosher" /> @Html.DisplayNameFor(model => model.restKosher)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<RestIT.Models.Dish> dishes = ViewBag.Dishes;

                                foreach (var dish in dishes)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="
                                               "
                                               value="@dish.ID"
                                               @(Html.Raw(dish.assigned ? "checked=\"checked\"" : "")) />
                                        @dish.dishName @:
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>



                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
