@model RestIT.Models.Dish

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dishName" class="control-label"></label>
                <input asp-for="dishName" class="form-control" />
                <span asp-validation-for="dishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dishCost" class="control-label"></label>
                <input asp-for="dishCost" class="form-control" />
                <span asp-validation-for="dishCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dishRating" class="control-label"></label>
                <input asp-for="dishRating" class="form-control" />
                <span asp-validation-for="dishRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dishType" class="control-label"></label>
                <input asp-for="dishType" class="form-control" />
                <span asp-validation-for="dishType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dishIngredients" class="control-label"></label>
                <input asp-for="dishIngredients" class="form-control" />
                <span asp-validation-for="dishIngredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="dishImage" type="file" class="form-control" />
                <img id="output" />
                @*<script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);

            };
        </script>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
